/* footer section */
.footer {
  @include section-vert-padding(60px, 60px);
  background-color: var(--secondary-bg-color);
}

.footer__container {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
  }
}

.footer__wrapper--tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__nav {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  font-style: normal;
  line-height: 1.71;
}

.address__item {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--bright {
    color: #ffffff;
  }

  &--dimmed {
    color: rgba(255, 255, 255, 0.6);
  }
}

.join-us {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.join-us {
  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }
}

.join-us,
.subscribe {
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}

.join-us__sub-section-title,
.subscribe__sub-section-title {
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
}

.subscribe__form {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe__input {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }

  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
