/* header section */
.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header__logo {
  @media screen and (max-width: 767px) {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav {
  @extend %centered-flex-box;
}

.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    font-weight: var(--regular-font);
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }

  &--current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border: 2px solid currentColor;
    border-radius: 2px;
    background-color: currentColor;
  }
}

.contact__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    font-size: 12px;
    font-weight: var(--regular-font);
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    line-height: 1.14;
  }
}

.contact__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contact__link {
  display: flex;

  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.mobile-menu-btn {
  @extend %centered-flex-box;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--white-color);
  fill: var(--black-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
