/* team section */
.team {
  @include section-vert-padding(60px, 60px);
  background-color: var(--primary-bg-color);

  @media screen and (min-width: 1200px) {
    @include section-vert-padding();
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px var(--basic-border-radius) var(--basic-border-radius);
  background-color: var(--white-color);

  flex-basis: calc(100% - var(--set-gap));

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--set-gap) * 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--set-gap) * 2);
  }
}

.team__thumb {
  display: flex;
  justify-content: center;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: var(--btn-subtitle-description-font-size);
  text-align: center;
}

.team__description {
  margin-bottom: 16px;
  font-size: var(--btn-subtitle-description-font-size);
  text-align: center;
  color: var(--secondary-text-color);
}
