/* common btn */
.btn {
  @extend %centered-flex-box;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: var(--bold-font);
  font-size: var(--btn-subtitle-description-font-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: var(--basic-border-radius);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--focused:hover,
  &--focused:focus {
    background-color: #188ce8;
  }
}

.btn__icon {
  fill: currentColor;
  margin-left: 10px;
}
