/* section title */
.section-title {
  margin-bottom: 30px;
  font-weight: var(--bold-font);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
