/* sub-section titltle */
.sub-section-title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &--light {
    color: var(--white-color);
  }
}
