/* common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--primary-text-color);

  &.modal-open {
    overflow: hidden;
    @media screen and (min-width: 1200px) {
      margin-right: 17px;
    }
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
