:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-bg-color: #c4c4c4;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --icon-fill-color: #afb1b8;
  --primary-font: 'roboto', sans-serif;
  --secondary-font: 'raleway', sans-serif;
  --btn-subtitle-description-font-size: 16px;
  --set-gap: 15px;
  --basic-border-radius: 4px;
}
